:root {
    --primary-color: #014199;
    --text-color: #202124;
}

body {
    color: var(--text-color);
}

.inner {
    max-width: 1170px;
    margin: 0 auto;
}

@media (max-width:1202px) {
    .inner {
        max-width: 1170px;
        margin: 0 auto;

        /* r */
        margin: 0 16px;
    }
}

.default {
    padding: 80px 0;
}

.default .title {
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.default .title h2 {
    font-size: 32px;
    font-weight: 600;
}

.default .title .desc {
    display: block;
    margin-top: 16px;
    line-height: 24px;
    font-size: 17px;
    font-weight: 400;
}

@media (max-width:1202px) {
    .default {
        padding: 80px 0;
    }

    .default .title {
        max-width: 1170px;
        margin: 0 auto;
        margin-bottom: 32px;

        /* r */
        margin: 0 16px;
        margin-bottom: 32px;
    }

    .default .title h2 {
        font-size: 32px;
        font-weight: 600;
    }

    .default .title .desc {
        display: block;
        margin-top: 16px;
        line-height: 24px;
        font-size: 17px;
        font-weight: 400;
    }
}